{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="content">
    <h2>Section A</h2>
    <p>
    <ul>
        <li>
            By: Naveen, Vivek Patidar and Shasvat Jain
        </li>
    </ul>
    </p>

    <h2>Section B</h2>
    <p>
    <ul>
        <li>
            By: Anurag and Shivali Gupta
        </li>
    </ul>
    </p>

    <h2>Section C</h2>
    <p>
    <ul>
        <li>
            By: Rick
        </li>
    </ul>
    </p>

    <h2>Section D</h2>
    <p>
    <ul>
        <li>
            By: Suyash Suryvanshi and Sonu Kumar
        </li>
    </ul>
    </p>

    <h2>Section E</h2>
    <p>
    <ul>
        <li>By: Ankit Kumar Singh and Aashish Ranjan Singh</li>
    </ul>
    </p>

    <h2>Section F</h2>
    <p>
    <ul>
        <li>By: Sathwik</li>
    </ul>
    </p>

    <h2>Section G</h2>
    <p>
    <ul>
        <li>By: Romeo Sarkar</li>
    </ul>
    </p>

    <h2>Section H</h2>
    <p>
    <ul>
        <li>By: Devesh Gupta and Ayush Singh</li>
    </ul>
    </p>
</div>

{% endblock %}